
.idea/workspace.xml
.idea/vcs.xml
.idea/sml-group-10-mini-project.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.ipynb_checkpoints/lda_qda-checkpoint.ipynb
.ipynb_checkpoints/knn-checkpoint.ipynb
.ipynb_checkpoints/qda_test-checkpoint.ipynb
.DS_Store
data/.ipynb_checkpoints/train-checkpoint.csv
~$train_processed.xlsx
.ipynb_checkpoints/LDA_Final-checkpoint.ipynb
.ipynb_checkpoints/QDA_Final-checkpoint.ipynb
.ipynb_checkpoints/test-checkpoint.ipynb
.ipynb_checkpoints/LDA-checkpoint.ipynb
.ipynb_checkpoints/LDA_QDA_Test-checkpoint.ipynb
.ipynb_checkpoints/QDA-checkpoint.ipynb
.ipynb_checkpoints/adaboost-checkpoint.ipynb
.ipynb_checkpoints/adaboost-evaluate-checkpoint.ipynb
.ipynb_checkpoints/gender_analysis-checkpoint.ipynb
.ipynb_checkpoints/Logistic_regression-checkpoint.ipynb
analysis2.xlsx
calculated_words_totals.xlsx
~$analysis2.xlsx
~$calculated_words_totals.xlsx
.ipynb_checkpoints/knn-pyscript-checkpoint.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
