
.idea/workspace.xml
.idea/vcs.xml
.idea/sml-group-10-mini-project.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.ipynb_checkpoints/lda_qda-checkpoint.ipynb
.ipynb_checkpoints/knn-checkpoint.ipynb
